[package]
name = "basic_extension"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
libc = "0.2"
ring-lang-rs = { path = "../.." }

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
panic = "abort"
strip = true
